body
{
  font-family: 'Exo 2', sans-serif;
}

.disable-scroll
{
  position: relative;
  position: fixed;
  left: 0;

  overflow: hidden;

  height: 100vh;
  width: 100%;
}
p
{
  margin: 8px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:active, :hover, :focus
{
  outline: 0;
  outline-offset: 0;
}

::-webkit-scrollbar
{
  width: 6px;
}
::-webkit-scrollbar-track
{
  background: #272727;
}
::-webkit-scrollbar-thumb
{
  background: #ff2525;
  border-radius: 1.5px;
}



/*/ -------------> Genral section Azat  <------------- /*/
.azat
{
  width: 100%;

  background: linear-gradient(to left bottom, #232322, #121212);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
}



/*/ -------------> Customize Button  <------------- /*/
.theme_back
{
  width: 70px;
  height: 189px;

  position: fixed;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  z-index: 1000;
}
.theme
{
  width: 33px;
  height: 33px;
  
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}
.dash_back
{
  width: 33px;
  height: 33px;
  
  background: #ff2424;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  
  cursor: pointer;

  position: relative;
}
.theme_list
{
  width: 33px;
  height: 120px;
  
  background: #d41a1a;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  position: relative;

  visibility: hidden;
  opacity: 0;
}
.dash_back i
{
  font-size: 20px;
  font-weight: 700;

  color: #313131e1;

  position: absolute;
}
.theme_nav_bar
{
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: -7px;
}
.theme_nav_bar a i
{
  font-size: 20px;
  font-weight: 500;

  color: #000000b7;

  padding: 1px;
}
.theme_nav_bar a i:hover
{
  font-weight: 700;
  color: #000000b7;
}
.change_btn
{
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
.change_btn i
{
  font-size: 20px;
  font-weight: 700;

  color: #313131e1;

  position: absolute;

  background: #ff4e4e;
  border-radius: 50%;

  padding: 3px;
}
#moon
{
  visibility: visible;
  opacity: 1;
}
#sun
{
  visibility: hidden;
  opacity: 0;
}

.theme_back.open .theme_list
{
  visibility: visible;
  opacity: 1;
}
.theme_back.open .theme
{
  background: #d41a1a;
}



/*/ -------------> Home section <------------- /*/
.home
{
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.header
{
  width: 55%;
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo
{
  margin-left: -35px;
}
.logo img
{
  width: 100px;
  height: 100px;
}
.nav_bar ul
{
  display: flex;
  justify-content: center;
}
.nav_bar ul li
{
  padding-left: 35px;
}
.nav_bar ul li a
{
  font-size: 13px;
  font-weight: 550;

  color: #fff;

  cursor: pointer;
}
.nav_bar ul li a::after
{
  content: "";

  display: block;

  width: 0;
  height: 2px;

  background-color: #ff2525;

  margin-top: 2px;

  transition: .2s;
}
.nav_bar ul li a:hover::after
{
  width: 100%;
}
.title
{
  width: 68%;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.my_photo
{
  width: 50%;
  
  display: flex;
  justify-content: left;
  align-items: center;
}
.my_img
{
  width: 352px;
  height: 352px;

  background: #f11f1f;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.my_img img
{
  width: 350px;
  border-radius: 50%;
}
.my_name
{
  width: 50%;
  
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
.a_txt_1
{
  color: #fff;

  font-size: 22px;
}
.a_txt_2
{
  color: #ff2525;

  font-size: 50px;
  font-weight: 550;
}
.a_txt_3
{
  color: #fff;

  font-size: 35px;
}
.button_more
{
  width: 200px;
  height: 50px;

  background: rgb(44, 44, 44);
  border-radius: 3px;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.4);

  margin-top: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fd3b3b;
  font-size: 18px;
  font-weight: 500;

  transition: transform .3s;
}
.button_more:hover
{
  transform: translate3d(3px, -3px, 0)
}
.empty_b
{
  width: 55%;
  height: 100px;
}



/*/ -------------> About section <------------- /*/
.about
{
  width: 100%;
  height: 100vh;

  position: relative;
}
.about_me_back
{
  width: 100%;
  height: 600px;

  display: flex;

  position: relative;
}
.about_me_sep
{
  width: 35%;
  height: 600px;

  background: #232322;
}
.about_me
{
  width: 80%;
  height: 600px;

  position: absolute;
  right: 0;

  display: flex;
  justify-content: left;
  align-items: center;
}
.ab_me
{
  width: 310px;
  height: 360px;

  background: #313131e5;
  border-radius: 4px;
  box-shadow: -6px 6px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);

  margin-right: 35px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.ab_num
{
  width: 85%;
  height: 120px;

  font-size: 60px;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: left;

  color: #ff0000;
}
.ab_name
{
  width: 85%;
  height: 150px;

  font-size: 20px;
  font-weight: 500;

  display: flex;
  flex-direction: column;
}
.ab_name .hd
{
  color: rgb(255, 255, 255);
  font-size: 33px;

  margin-bottom: 15px;
}
.ab_name .conc
{
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
}
.ab_but
{
  width: 85%;
  height: 90px;

  font-size: 20px;
  font-weight: 700;

  color: #da1b1b;

  display: flex;
  align-items: center;
  justify-content: left;

  cursor: pointer;

  overflow: hidden;
}
.ab_but i
{
  margin-left: 10px;

  font-size: 21px;
  font-weight: 700;

  transform: rotate(180deg);

  transition: all .3s;
}
.ab_but:hover i
{
  transform: translateX(20px) rotate(180deg);
}

.list_back
{
  width: 100%;
  height: 100vh;

  background: rgba(85, 4, 4, 0.2);
  backdrop-filter: blur(10px);

  position: fixed;
  top: 0;

  visibility: hidden;
  opacity: 0;

  transition: .3s;
}
.list_back.open
{
  visibility: visible;
  opacity: 1;
  overflow: hidden;
}
.list1
{
  width: 450px;
  height: 650px;

  background: #3a3a3a;
  border-radius: 4px;
  box-shadow: -6px 6px 10px rgba(0, 0, 0, 0.1);

  position: fixed;
  top: 50%;
  transform: translateY(-50%);

  visibility: hidden;
  opacity: 0;

  display: flex;
  align-items: center;
  flex-direction: column;

  transition: .3s;
}
.list1.open
{
  visibility: visible;
  opacity: 1;
  overflow: hidden;
}
.list2
{
  width: 450px;
  height: 650px;

  background: #3a3a3a;
  border-radius: 4px;
  box-shadow: -6px 6px 10px rgba(0, 0, 0, 0.1);

  position: fixed;
  top: 50%;
  transform: translateY(-50%);

  visibility: hidden;
  opacity: 0;

  display: flex;
  align-items: center;
  flex-direction: column;

  transition: .3s;
}
.list2.open
{
  visibility: visible;
  opacity: 1;
}
.list3
{
  width: 450px;
  height: 650px;

  background: #3a3a3a;
  border-radius: 4px;
  box-shadow: -6px 6px 10px rgba(0, 0, 0, 0.1);

  position: fixed;
  top: 50%;
  transform: translateY(-50%);

  visibility: hidden;
  opacity: 0;

  display: flex;
  align-items: center;
  flex-direction: column;

  transition: .3s;
}
.list3.open
{
  visibility: visible;
  opacity: 1;
}
.l_head
{
  width: 90%;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.l_head .l_t
{
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
}
.lclose1
{
  font-size: 40px;
  color: #f11f1f;
  cursor: pointer;
}
.lclose2
{
  font-size: 40px;
  color: #f11f1f;
  cursor: pointer;
}
.lclose3
{
  font-size: 40px;
  color: #f11f1f;
  cursor: pointer;
}
.text
{
  width: 90%;
}
.text span
{
  color: #fff;
}




/*/ -------------> Contact section <------------- /*/
.contact
{
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.cont_me
{
  width: 54%;
  height: 310px;

  background: #272727;
  box-shadow: -8px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 2px;

  margin-bottom: 130px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.offer1
{
  width: 60%;

  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: column;

  margin-left: 40px;
}
.o1
{
  font-size: 32px;
  color: #fff;

  margin-bottom: 30px;
}
.o2
{
  font-size: 19px;
  color: rgba(255, 255, 255, 0.5);
}
.offer2
{
  width: 40%;
  height: 300px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.offer_but
{
  width: 170px;
  height: 50px;

  background: #f11f1f;
  border-radius: 3px;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  justify-content: center;

  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;

  transition: .3s;
}
.offer_but:hover
{
  transform: translate3d(3px, -3px, 0)
}
.header_bottom
{
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 35px;
}
.my_contacts
{
  width: 100%;
  height: 101px;

  background: #272727;

  display: flex;
  justify-content: center;
  align-items: center;
}
.cont_cont
{
  width: 60%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.media_cont a
{
  color: rgba(170, 170, 170, 0.7);

  font-size: 23px;

  padding: 10px;

  transition: .2s;
}
.media_cont a:hover
{
  color: #fff;
}
.developer
{
  color: #ff2e62;

  font-size: 16px;
  font-weight: 600;

  margin-right: -80px;
}



/*/ -------------> Script for themes changing  <------------- /*/

body.light .azat
{
  background: #fff;
}

body.light .nav_bar ul li a
{
  color: black;
  font-weight: 700;
}

body.light .a_txt_1
{
  color: black;
  font-weight: 600;
}
body.light .a_txt_3
{
  color: black;
  font-weight: 600;
}
body.light .button_more
{
  background: #fd3b3b;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);

  color: #fff;
}

body.light .about_me_sep
{
  background: #fd2b2b;
}
body.light .ab_me
{
  width: 310px;
  height: 360px;

  background: #313131;
  border-radius: 4px;
  box-shadow: -6px 6px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);

  margin-right: 35px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

body.light .my_contacts
{
  background: #f0f0f0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
body.light .media_cont a
{
  color: rgb(0, 0, 0);
  font-weight: 700;
}
body.light .media_cont a:hover
{
  color: #e41c1c;
}
body.light .developer
{
  color: #fd2b2b;
}

body.light .dash_back i
{
  color: #ffffff;
  font-weight: 400;
}
body.light .theme_nav_bar a i
{
  font-weight: normal;
  color: #ffffff;
}
body.light #moon
{
  visibility: hidden;
  opacity: 0;
}
body.light #sun
{
  visibility: visible;
  opacity: 1;
  color: #fff;
  font-weight: 500;
}